@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,600;1,300&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

:root {
    --container-main-height: 70vmin;
    --container1-height: 20vmin;
    --container2-height: 50vmin;
    --container-width: 40vmin;
    --item: calc(50vmin/6);
    --font-color-main: #e0e0e0;
    --font-color-blue: rgb(27, 76, 139);
    --input-font-color: rgba(14, 189, 14, 0.74);
    --calc-background-color: rgb(17, 20, 20);
}

* {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--font-color-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(10px, 3.5vmin, 50px);
    text-align: center;
    scroll-behavior: smooth;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    background: linear-gradient(-45deg, #74554c, #643749, #385b68, #2a574c);
    background-size: 400% 400%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: gradient 15s ease infinite;
    z-index: -3;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button {
    font-weight: bold;
    background-color: rgba(63, 65, 66, 0.315);
    width: 100%;
    height: 100%;
    border-radius: 50vw;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-shadow: 1px 1px 4px 1px black;
    cursor: pointer;
}

button:hover {
    animation: fade 0.1s ease-in forwards;
    
}

.fullContainer {
    position: relative;
    display: flex;
    min-height: var(--container-main-height);
    min-width: var(--container-width);
}

.main-container {
    position: fixed;
    height: var(--container-main-height);
    min-width: var(--container-width);
    background: var(--calc-background-color);
    padding: 0.5em;
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 1px 1px 10px 0px black;
    z-index: 20;  
}

.container1 {
    height: var(--container1-height);
    width: var(--container-width);
}

.container2 {
    height: var(--container2-height);
    width: var(--container-width);
}

.screen {
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.336);
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 0px 6px 12px  rgba(0, 0, 0, 0.582);
}

.memory {
    font-size: 0.8em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);
    margin-bottom: 10px;
}

.menu {
    position: absolute;
    display: visible;
    right: -15%;
    top: 5%;
    z-index: 10;
    padding: 1em;
    border-radius: 50vw;
    background: rgba(61, 255, 148, 0.342);
    box-shadow: 0 8px 32px 0 rgba(42, 48, 134, 0.226);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0.5;
    cursor: pointer;
    
}

.menu:hover {
    opacity: 1;
    transform: scaleX(1.3);
    transition: all 0.5s;
}

#info {
    opacity: 0.8;
    display: none;
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 0.4em;
    position: absolute;
    right: -75%;
    top: 2.5%;
    border-radius: 5px;
    padding: 0.3em 1em;
    background: rgb(24, 103, 139);
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.397);
    z-index: 30;
}



.clearLocal {
    z-index: 0;
    width: 15vmin;
    height: 5vmin;
    display: block;
    position: absolute;
    right: -55%;
    bottom: -10%;
    background: rgba(255, 255, 255, 0.151);
    box-shadow: 0 8px 32px 0 rgba(42, 48, 134, 0.226);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    color: black;
    font-size: 2vmin;
}



.cache {
    position: absolute;
    display: block;
    width: calc(var(--container-width)/1.4);
    height: var(--container-main-height);
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.151);
    box-shadow: 0 8px 32px 0 rgba(42, 48, 134, 0.226);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: auto;
    padding: 2vmin;
    padding-left: 5.5vmin;
    scrollbar-color: rgba(12, 9, 9, 0.37) rgba(207, 207, 207, 0.253) ;
    scrollbar-width: thin;
    z-index: 1;
    transition: all 0.5s ease;
    
}

.cache:hover {
    scrollbar-color: rgba(12, 9, 9, 0.5) rgba(207, 207, 207, 0.253);
}
.menuAnimate {
    transition: all 0.6s ease;
    right: -70%;
}
.displayIt {
    transition: all 2s ease;
    opacity: 1;
}

#opened {
    opacity: 0.8;
    background: rgba(255, 61, 61, 0.342);
}

.cache::-webkit-scrollbar {
    max-height: 100%;
    width: 0.7vw;
    background: rgba(54, 54, 54, 0.123);
    border-radius: 50vw;
}

.cache::-webkit-scrollbar-thumb{
    border-radius: 50vw;
    background-color: rgba(10, 9, 9, 0.144);
}

.cache::-webkit-scrollbar-thumb:hover {
    background-color: rgba(20, 20, 20, 0.445);
}

.cacheResult {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    background: linear-gradient(rgba(104, 104, 104, 0.336) 0%, rgba(67, 93, 133, 0.123) 10%);
    box-shadow: inset 5px 5px 10px 1px rgba(229, 229, 231, 0.616);
    height: clamp(80px, 15%, 15%);  
    opacity: 0.6; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    
}

.historyContainer {
    width: 100%;
    height: 70%;
    text-align: center;
    word-wrap: break-word;
    overflow-y: none;
    overflow-x: auto;
    display: block;
    scrollbar-width: none;
}

.historyContainer::-webkit-scrollbar{
    height: 100%;
}

.historyContainer>h3 {
    color: black;
    font-size: 0.8em;
}
.historyContainer>h4 {
    color: rgba(0, 0, 0, 0.575);
    font-size: 0.6em;
}


.cacheResult:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}

.digitDisplay {
    font-size: 0.5em;
    color: grey;
    min-width: 100%;
    height: 40%;
    padding-right: 0.7rem;
    padding-left: 0.1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.inputText {
    color: var(--input-font-color);
    min-width: 100%;
    font-size: 1.3rem;
    text-align: right;
    overflow-x: auto;
    scrollbar-color: rgba(207, 207, 207, 0.089) rgba(255, 255, 255, 0.048);
    scrollbar-width: thin;
}

.inputText:hover {
    scrollbar-color: rgba(207, 207, 207, 0.288) rgba(255, 255, 255, 0.048);
}

.inputText::-webkit-scrollbar {
    height: 0.5rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.048);
    border-radius: 50vw;
}

.inputText::-webkit-scrollbar-thumb{
    border-radius: 50vw;
    background-color: rgba(207, 207, 207, 0.089);
}

.inputText::-webkit-scrollbar-thumb:hover {
    background-color: rgba(207, 207, 207, 0.288);
}


.grid {
    padding-top: 2vmin;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: top;
    grid-template-columns: repeat(4, var(--item));
    grid-template-rows: repeat(5, var(--item));
    display: grid;
    gap: 0.9vmin 1vmin;
    margin: auto;
}

.item {
    width: var(--item);
    height: var(--item);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vmin;
    border-radius: 50vw;
}

.normal {
    aspect-ratio: 1/1;
    
}

.double {
    width: 100%;
    height: 100%;
}


@keyframes fade {
    from {
        
    }   
    to {
        opacity: 0.6;
    }
}
.operator {
    font-size: 1.5em;
    color: var(--font-color-blue);
    background-color: rgba(236, 236, 236, 0.582);
}

.special {
    font-size: 1em;
    background: none;
    padding-bottom: 0.1em;
}





.equal {
    background: var(--font-color-blue);
    color: var(--font-color-main);
}

@media screen and (max-width: 920px) {
    @media screen and (orientation: portrait) {
        :root {
            --container-main-height: 100%;
            --container1-height: 30vmin;
            --container2-height: 70vh;
            --container-width: 100vw;
            --item: calc(75vmax/6);
        }

        * {
            font-size: clamp(10px, 4vmax, 50px);
        }
        body {
            background: none;
            
            max-height: 100vh;
            width: 100vw;
        }

        .menu {
            opacity: 0.4;
            top: 0;
            left: 0;
            margin: 0.5em;
            border-radius: 50%;
            background-color: rgba(151, 208, 255, 0.301);
            padding: 0.3em;
            z-index: 200;
            box-shadow: 1px 1px 10px rgba(39, 122, 245, 0.329);
        }

        .main-container {
            
            max-height: 100vh;
            border-radius: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
         
        }

        .menu:hover {
            opacity: 1;
            transform: none;
            transition: none;
        }
        .container1 {
            width: 100%;
            height: 30%;
        }
        .screen {
            border-radius: 0;
            height: 100%;
        }
        
        #info {
            top: 0%;
            right: 5%;
            display: none !important;
        }
        
        .cache {
            
            display: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            max-height: 100vh;
            border-radius: 0;
            border: none;
            background: rgba(0, 0, 0, 0.582);
            padding: 2vmin;
            z-index: 150;
            transition: none;
            padding-bottom: 20vmin;  
        }

        .clearLocal {
            transition: none;
            bottom: 1.5%;
            width: 90%;
            height: 15vmin;
            font-size: 1.2em;
            color: rgba(15, 22, 29, 0.507);
            border-radius: 50vw;
            margin: 0 0 0.1em 0 ;
            left: 5%;
            background: rgba(194, 194, 194, 0.521);
            display: none;
            position: absolute;
            z-index: 500;
            opacity: 1;
        }
        .cacheResult {
            background: linear-gradient(rgba(223, 223, 223, 0.719) 0%, rgba(40, 52, 75, 0.897) 10%);
            box-shadow: inset 5px 5px 10px 1px rgba(143, 143, 143, 0.616); 
        }
        .historyContainer>h3 {
            color: white;  
        }
        .historyContainer>h4 {
            color: rgba(255, 255, 255, 0.397);
        }
        .hideIt {
            display: none;
        }
        
        
        .grid {
            padding-top: 0;
            align-content: center;
            gap:0;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(4, 24.5%);
            grid-template-rows: repeat(5, 19.5%);
        }
        .item {
            width: 100%;
            height: 100%;
            aspect-ratio: 0;
        }
        .normal {
            aspect-ratio: 0;
        }
        button {
            border-radius: 0;
            box-shadow: 1px 1px 2px black;
        }
        
    }
}

@media screen and (max-width: 1370px) {
    @media screen and (max-height: 920px) {
        @media screen and (orientation: landscape) {
            :root {
                --container-main-height: 100%;
                --container1-height: 30vmin;
                --container2-height: 100vh;
                --container-width: 100vw;
                --item: calc(100vh/6);
            }

            body {
                background: none;
                max-height: 100vh;
                width: 100vw;
            }
    
            
    
            .main-container {
                position: fixed;
                max-height: 100vh;
                width: 100vw;
                border-radius: 0;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
            }

            .menu {
                display: none;
            }

            #info {
                display: none !important;
            }
            
            .operator {
                font-size: 2em;
            }
            .container1 {
                width: 40vw;
                height: 100vh;
            }
            .screen {
                font-size: 3em;
                border-radius: 0;
                height: 30%;
                width: 40vw;
            }
            .inputText {
                font-size: 1.5em;
            }

            
    
            .cache {
                
                top: 30vh;
                left: 0;
                max-height: 60%;
                width: 40%;
                background: none;
                border: none;
                box-shadow: none;
                backdrop-filter: none;
                padding: 3vmin;
                z-index: 100;
                display: block;

            }

            .cacheResult {
                height: 15vmin;
                background: linear-gradient(rgba(223, 223, 223, 0.336) 0%, rgba(67, 93, 133, 0.123) 10%);
                box-shadow: inset 5px 5px 10px 1px rgba(85, 85, 85, 0.616);
                
                
            }
            .cacheResult:hover {
                transform: scale(1,1);
            }
            .historyContainer>h3 {
                color: white;
                font-size: 1.5em;
            }
            .historyContainer>h4 {
                color: rgba(255, 255, 255, 0.555);
            }
            .clearLocal {
                display: absolute;
                left: 0;
                bottom: 0;
                width: 41%;
                height: 10vh;
                z-index: 500;
                background-color: red;
                opacity: 0.5;
                animation: all 1s ease;
                margin: 0;
            }
           

            .grid {
                padding-top: 0;
                align-content: center;
                gap:0;
                width: 60vw;
                height: 100wh;
                grid-template-columns: repeat(4, 24.5%);
                grid-template-rows: repeat(5, 19.5%);
            }
            .item {
                width: 100%;
                height: 100%;
                aspect-ratio: 0;
            }
            button {
                font-size: 4em;
                border-radius: 0;
                box-shadow: 1px 1px 3px black;
            }
        }        

    }

}


    

