@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,600;1,300&display=swap');

:root {
    --container-main-height: 70vmin;
    --container1-height: 20vmin;
    --container2-height: 50vmin;
    --container-width: 40vmin;
    --item: calc(50vmin/6);
    --font-color-main: #e0e0e0;
    --font-color-blue: rgb(27, 76, 139);
    --input-font-color: rgba(14, 189, 14, 0.74);
    --calc-background-color: rgb(17, 20, 20);
}

* {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--font-color-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(10px, 3.5vmin, 50px);
    text-align: center;
}

body {
    background: rgb(161, 161, 161);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-container {

    height: var(--container-main-height);
    background: var(--calc-background-color);
    padding: 0.5em;
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
}

.container1 {
    height: var(--container1-height);
    width: var(--container-width);
}

.container2 {
    height: var(--container2-height);
    width: var(--container-width);
    
}

.screen {
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.336);
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 0px 6px 12px  rgba(0, 0, 0, 0.582);

}

.cache {
    display: none;
}


.digitDisplay {
    font-size: 0.5em;
    color: grey;
    min-width: 100%;
    height: 40%;
    padding-right: 0.2rem;
    padding-left: 0.1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.inputText {
    color: var(--input-font-color);
    min-width: 100%;
    font-size: 1.3rem;
    text-align: right;
    overflow-x: auto;
    scrollbar-color: rgba(207, 207, 207, 0.089) rgba(255, 255, 255, 0.048);
    scrollbar-width: thin;
}

.inputText:hover {
    scrollbar-color: rgba(207, 207, 207, 0.288) rgba(255, 255, 255, 0.048);
}

.inputText::-webkit-scrollbar {
    height: 0.5rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.048);
    border-radius: 50vw;
}

.inputText::-webkit-scrollbar-thumb{
    border-radius: 50vw;
    background-color: rgba(207, 207, 207, 0.089);
}

.inputText::-webkit-scrollbar-thumb:hover {
    background-color: rgba(207, 207, 207, 0.288);
}


.grid {
    padding-top: 2vmin;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: top;
    grid-template-columns: repeat(4, var(--item));
    grid-template-rows: repeat(5, var(--item));
    display: grid;
    gap: 0.9vmin 1vmin;
    margin: auto;
}

.item {
    width: var(--item);
    height: var(--item);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vmin;
    border-radius: 50vw;
}

.normal {
    aspect-ratio: 1/1;
    
}

.double {
    width: 100%;
    height: 100%;
}

button {
    font-weight: bold;
    background-color: rgba(63, 65, 66, 0.315);
    width: 100%;
    height: 100%;
    border-radius: 50vw;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-shadow: 1px 1px 4px 1px black;
}

button:hover {
    animation: fade 0.1s ease-in forwards;
    
}
@keyframes fade {
    from {
        
    }   
    to {
        opacity: 0.6;
    }
}
.operator {
    font-size: 1.5em;
    color: var(--font-color-blue);
    background-color: rgba(236, 236, 236, 0.582);
}



.equal {
    background: var(--font-color-blue);
    color: var(--font-color-main);
}

@media screen and (max-width: 920px) {
    @media screen and (orientation: portrait) {
        :root {
            --container-main-height: 100%;
            --container1-height: 30vmin;
            --container2-height: 70vh;
            --container-width: 100vw;
            --item: calc(75vmax/6);
        }

        * {
            font-size: clamp(10px, 4vmax, 50px);
        }

        .main-container {
            min-height: 100%;
            border-radius: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .container1 {
            width: 100%;
            height: 30%;
        }
        .screen {
            border-radius: 0;
            height: 100%;
        }
        .grid {
            padding-top: 0;
            align-content: center;
            gap:0;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(4, 24.5%);
            grid-template-rows: repeat(5, 19.5%);
        }
        .item {
            width: 100%;
            height: 100%;
            aspect-ratio: 0;
        }
        .normal {
            aspect-ratio: 0;
        }
        button {
            border-radius: 0;
            box-shadow: 1px 1px 2px black;
        }
    }
}

@media screen and (max-width: 1370px) {
    @media screen and (max-height: 920px) {
        @media screen and (orientation: landscape) {
            :root {
                --container-main-height: 100%;
                --container1-height: 30vmin;
                --container2-height: 100vh;
                --container-width: 100vw;
                --item: calc(100vh/6);
            }
            
    
            .main-container {
                min-height: 100%;
                width: 100vw;
                border-radius: 0;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
    
            .container1 {
                width: 40vw;
                height: 100vh;
            }
            .screen {
                font-size: 3em;
                border-radius: 0;
                height: 30%;
                width: 40vw;
            }
            .inputText {
                font-size: 1.5em;
            }
    
            .cache {
                
            }
            .grid {
                padding-top: 0;
                align-content: center;
                gap:0;
                width: 60vw;
                height: 100%;
                grid-template-columns: repeat(4, 24.5%);
                grid-template-rows: repeat(5, 19.5%);
            }
            .item {
                width: 100%;
                height: 100%;
                aspect-ratio: 0;
            }
            button {
                font-size: 4em;
                border-radius: 0;
                box-shadow: 1px 1px 3px black;
            }
        }        

    }

}


    

